/* .main_Div {
    display: grid;
    grid: repeat(2, 60px) / auto-flow 80px;
    border: 1px dashed red;
    margin: 5px;
    padding: 5px;
  }
  
  .main_Div > div {
    background-color: magenta;
    border: 1px dashed black;

    width: 75px;
    height: 55px;
  } */

/* .second_Div {
    display: grid;
    grid-auto-flow: row dense;
    gap: 5px;
    border: 1px dashed red;
    height: 250px;
    margin: 5px;
    padding: 5px;
  } */

/* grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  grid-auto-flow: column;  or 'row', 'row dense', 'column dense' */

/* .second_Div> div {
    background-color: turquoise;
    border: 1px dashed black;
    width: 100px;
    height: 50px;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
  } */

/* .b01, .b02 {
    width: 250px;
  }

  .b03, .b04 {
    width: 120px;
  }

  .b05, .b06 {
    width: 100px;
  }  */


/* XXXXXXXXXXXXXXXXXXXXXXXXXXX exemlo mdn - grid areas XXXXXXXXXXXXXXXXXXXX */

/* .wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 100px;
    grid-template-areas:
      "a a b"
      "a a b";
  }
  .item1 {
    grid-area: a;
    background-color: magenta;
    margin: 2px;
  }
  .item2 {
    grid-area: b;
    background-color: magenta;
    margin: 2px;
  } */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXX exemlo mdn - grid cells XXXXXXXXXXXXXXXXXXXX */

/* .wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 100px;
    background-color: magenta;
    margin: 2px;
  }
   */

/* XXXXXXXXXXXXXXXXXXXXX GRID_TEMPLATE  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* .blk-0X
   .g-template */
/* .g-template {
  display: grid;

  border: 2px solid red;
  background-color: lightgray;
  margin: 5px;
  padding: 5px;
  height: 50vh;

  grid-template-areas: 'b1 b1 b1 b1'
                       'b2 b2 b2 b2' 
                       'b3 b3 b4 b4' 
                       'b3 b3 b4 b4';
  grid-template-rows: 160px 60px 60px;                        
  grid-template-columns: 2fr 4fr;
} */

/* .g-template> div {
  border: 1px solid lime;                       
}

.g-template> .blk-01 {
  grid-area: b1;
}

.g-template> .blk-02 {
  grid-area: b2;
}

.g-template> .blk-03 {
  grid-area: b3;
}

.g-template> .blk-04 {
  grid-area: b4;
} */

/*XXXXXXXXXXXXXXXXXXXXX GRID_TEMPLATE_AREAS  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
#page {
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-areas: "head head"
                       "nav  main"
                       "nav  foot";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}

#page > header {
  grid-area: head;
  background-color: #8ca0ff;
}

#page > nav {
  grid-area: nav;
  background-color: #ffa08c;
}

#page > main {
  grid-area: main;
  background-color: #ffff64;
}

#page > footer {
  grid-area: foot;
  background-color: #8cffa0;
}

*/

/* XXXXXXXXXXXXXXXXXXXXX GRID_SLIDES  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* .g-slides {
    display: grid;
  
    border: 2px solid red;
    background-color: lightgray;
    margin: 5px;
    padding: 5px;
    height: 50vh;
  
    grid-template-areas: '. b1 b1 b1 .'
                         'b2 b1 b1 b1 b3' 
                         '. b1 b1 b1 .' 
                         '. b4 b5 b6 .';
    grid-template-rows: 140px 60px 60px;                        
    grid-template-columns: 0fr 1fr;
  } */

/* .b-01 {
    grid-area: b1;
    background-color: #8ca0ff;
    margin: 5px;
    border-radius: 4px;
    text-align: center;
  }
  .b-02 {
    grid-area: b2;
    display: flex;
    background-color: #8ca0ff;
    align-items:center;
    justify-content: center;
    width: 60px;
  }
  .b-03 {
    grid-area: b3;
    display: flex;
    background-color: #8ca0ff;
    align-items: center;
    justify-content: center;
    width: 60px;
  } */

/* b-slide" */
/* b-0.5seg */
/* b-1.0seg */

/* .b-slide {
    grid-area: b4;
    background-color: #8ca0ff;
  }
  .b-05seg {
    grid-area: b5;
    background-color: #8ca0ff;
  }
  .b-1seg {
    grid-area: b6;
    background-color: #8ca0ff;
  }

  .b-02, .b-03 {
    border: 1px solid black;
    border-radius: 100%;
    background-color: lime;;
  }

  .b-slide, .b-05seg, .b-1seg {
    border: 1px solid black;
    border-radius: 3px;
    background-color: lightgreen;
  } */


/* XXXXXXXXXXXXXXXXX  BAESLINE_PLACEMENT  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* .bl-place {
    display: grid;
    border: 1px solid green;
    background-color: magenta;
    margin: 5px;
    padding: 5px;

    grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 100px);

   gap: 1px 8px;


  } */

/* .bl-place> div {
    display: flex;
    border: 1px dashed black;
    align-items: center;
    justify-content: center;

  } */

/* .el-03 {
    grid-column: 3;
    grid-row: 1/4; */

/* grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4; */
/* } */

/* .el-01 {
    grid-column: 1;
    grid-row: 1/3; */

/* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3; */
/* } */

/* .el-04 {
    grid-column: 1/3;
    grid-row: 3; */

/* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4; */
/* } */

/* .el-02 {
    grid-column: 2;
    grid-row: 1/3; */

/* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; */
/* }  */


/* XXXXXXXXXXXXXXXXX  GRID_AREAS  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* .grid-areas {
  display: grid;
  border: 1px solid green;
  background-color: magenta;
  max-width: 90vw;
  margin: auto;
  height: auto;
  padding: 5px;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  gap: 8px 8px;

  grid-template-areas: 'hd hd hd'
                       'sd main main'  
                       'sd main main'  
                       'ft ft ft';   */
  /* grid-auto-rows: minmax(100px, auto);
  grid-template-columns: 1fr;
  grid-template-areas:
    "hd hd"
    "sd main"
    "sd main"
    "ft ft"; */

/* } */

/* .grid-areas>* {
  display: flex;
  border: 1px dashed black;
  align-items: center;
  justify-content: center;
} */

/*el_header
el_sidebar
el_main
el_footer*/

/* .el_header {
  grid-area: hd;
}

.el_sidebar {
  grid-area: sd;
}

.el_main {
  grid-area: main;
}

.el_footer {
  grid-area: ft;
} */

/* @media (min-width: 700px) {
  .grid-areas {
      grid-template-columns: repeat(9, 1fr);
      grid-template-areas:
        "sd sd hd hd   hd   hd   hd   hd   hd"
        "sd sd sd main main main main main main"
        "sd sd ft  ft  ft   ft   ft   ft   ft";
  }
}
@media (min-width: 1000px) {
  .grid-areas {
      grid-template-areas:
        "hd hd hd   hd   hd   hd   hd   hd hd"
        "sd sd main main main main main sd sd"
        "sd sd ft ft ft ft ft sd sd";
  }
}

@media (min-width: 1300px) {
  .grid-areas {
      grid-template-areas:
        "hd hd hd   hd   hd   hd   hd   hd hd"
        "sd sd main main main main main main main"
        "ft ft ft ft ft ft ft ft ft";
  }
} */

/* XXXXXXXXXXXXXXXXX  USER_INTERFACE  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* .user-interface {
  display: grid;
  border: 1px solid green;
  background-color: magenta;
  max-width: 90vw;
  margin: auto;
  height: auto;
  padding: 5px;

  grid-template-columns: 1fr 150px;
  grid-template-rows: 150px;
  gap: 8px 8px;

  grid-template-areas: 'txt img';

}

.txt {
  grid-area: txt;
  display: flex;
  border: 1px solid black;
  padding: 5px;
}

.img {
  grid-area: img;
  border: 1px solid black;
  padding: 5px;
  background-image: url("./image/Avatar.ECE.2009.720p.BrRip.x264.bitloks.YIFY.mp4_snapshot_00.07.01.401.jpg");
  background-size: cover;
  background-position: center;
}

p {
  margin: 1px;
} */

/* XXXXXXXXXXXXXXXXX  CSS_GRID_LAYOUT  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

